## Data Frame preparation
#### This notebook is only for retrieving the necessary information from the database and turning it into a .csv file

In [1]:
import pandas as pd
import duckdb
duckdb.sql('INSTALL sqlite; LOAD sqlite;')

In [2]:
con = duckdb.connect('../data/diamonds_train.db')

df_diamonds = con.execute(
'''SELECT dt.index_id, dt.carat, dcut.cut, dcolor.color, dcl.clarity, dd.depth, dd.table, dd.x, dd.y, dd.z, dc.city, dt.price 
FROM diamonds_transactional AS dt
INNER JOIN diamonds_city AS dc ON dt.city_id = dc.city_id
INNER JOIN diamonds_properties AS dp ON dt.index_id = dp.index_id
INNER JOIN diamonds_clarity AS dcl ON dp.clarity_id = dcl.clarity_id
INNER JOIN diamonds_color AS dcolor ON dp.color_id = dcolor.color_id
INNER JOIN diamonds_cut AS dcut ON dp.cut_id = dcut.cut_id
INNER JOIN diamonds_dimensions AS dd ON dt.index_id = dd.index_id
''').fetch_df()

In [3]:
df_diamonds.drop(columns='index_id', inplace=True)

In [4]:
df_diamonds.head(5)

,carat,cut,color,clarity,depth,table,x,y,z,city,price
0,1.21,Premium,J,VS2,62.4,58.0,6.83,6.79,4.25,Dubai,4268
1,0.32,Very Good,H,VS2,63.0,57.0,4.35,4.38,2.75,Kimberly,505
2,0.71,Fair,G,VS1,65.5,55.0,5.62,5.53,3.65,Las Vegas,2686
3,0.41,Good,D,SI1,63.8,56.0,4.68,4.72,3.00,Kimberly,738
4,1.02,Ideal,G,SI1,60.5,59.0,6.55,6.51,3.95,Dubai,4882

In [5]:
df_diamonds.to_csv('../data/diamonds_train.csv')

In [6]:
df_diamonds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40455 entries, 0 to 40454
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    40455 non-null  float64
 1   cut      40455 non-null  object
 2   color    40455 non-null  object
 3   clarity  40455 non-null  object
 4   depth    40455 non-null  float64
 5   table    40455 non-null  float64
 6   x        40455 non-null  float64
 7   y        40455 non-null  float64
 8   z        40455 non-null  float64
 9   city     40455 non-null  object
 10  price    40455 non-null  int64
dtypes: float64(6), int64(1), object(4)
memory usage: 3.4+ MB